* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: grid;
    place-items: center;
    background-color: azure;
} 

body .title {
    font-weight: 800;
    color: brown;
}

body form {
    display: grid;
    gap: 20px;
}